@import "./variaveis";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: red;
}

.span {
    color: $corPrincipal;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;

    &:hover {
        color: $corDoTexto;
        padding-bottom: 8px;
        border-bottom: 2px solid $corDoTexto;
    }
}

nav {
    background-color:$corDoHeader;
   
}

.pe-pagina {
    background-color: $corDoHeader;
    color: $corDoTexto;
    padding: 10px;
}


h2::first-letter{
    font-size: 100px;
}

.container {
    img{
        width: 50%;
        display: flex;
        margin: 0 auto;
        border-radius: 10px;
    }
}

#contato {
    .container {
        .row{
            .col {
                .bi-linkedin {
                    width: 500px;
                    background-color: red;
                }
            }
           
        }
        
    }
   
}


