@import "./variaveis";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



nav {
    background-color:$corDoHeader;
    
    .navbar-brand, .navbar-brand:hover{
        color: $corDoTexto;
    }

    .navbar-toggle {
        background-color: $corDoTexto;
    }
    .nav-link {
        border-bottom: 2px solid transparent;
    }
    .nav-link:hover {
        color: $corDoTexto;
        border-bottom: 2px solid black;
    }


}



h2::first-letter{
    font-size: 100px;
}

.container {
    img{
        width: 50%;
        display: flex;
        margin: 0 auto;
        border-radius: 10px;
    }

    
}

#contato {
    .container {
        .row{
            .col {
                .bi-linkedin {
                    width: 500px;
                    background-color: red;
                }
            }
           
        }
        
    }
   
}


